body {
    font-family: Arial, Helvetica, sans-serif;
}

.current {
    font-weight: bold;
}

button {
    font-weight: bold;
    padding: 0.3em;
    font-size: xx-large;
}

.playlist  {
    list-style-type: none;
    padding-left: 0;
}

.progress {
    margin-bottom: 1em;
}

.introduction {
    margin-top: -1em;
    font-style: italic;
}

.picture {
    display: none;
}